# Virtual environments
.venv/
.python-version

# Python
__pycache__/
*.py[cod]
*.so
*.egg-info/
dist/
build/
.pytest_cache/

# Project-specific
#config.json
#output/*
!output/.gitkeep
*.log

# IDE
.vscode/
.idea/
*.swp
.DS_Store

# Keep examples
!config_example.json

